.drawer-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #23ce6b;
  color: white;
  border: none;
  padding: 0.5rem 0.7rem;
  border-radius: 6px;
  cursor: pointer;
  z-index: 2000;
  font-size: 1.2rem;
}

.profile-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #ddd;
  padding: 1.5rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
aside {
  border-radius: 0.9rem;
}
.profile-drawer.closed {
  transform: translateX(-100%);
}

.profile-drawer.open {
  transform: translateX(0);
}

.profile-content {
  flex-grow: 1;
  margin-left: 300px;
  padding: 2rem;
  transition: margin-left 0.3s ease-in-out;
}

.profile-drawer.closed ~ .profile-content {
  margin-left: 0;
}

.profile-link {
  display: inline-block;
  margin-top: 0.5rem;
  color: #2563eb;
  text-decoration: none;
}

.profile-link:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

.success {
  color: #23ce6b;
}

.employee-profile-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.employee-profile-form form {
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.employee-profile-form input,
textarea {
  border-radius: 0.4rem;
  padding: 0.4rem;
  background-color: #a8f0c7;
}

.employee-profile-form label {
  font-weight: 600;
}

.profile-avatar {
  margin-bottom: 1rem;
  width: 5rem;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #23ce6b;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
}
